# Environment Variables
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test

# Dependencies
**/node_modules

# Build outputs
**/dist
**/build

# Logs
**/logs
**/*.log

# Editor directories and files
.vscode/
.idea/
.DS_Store
